* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.intro-chunk {
    padding: 64px 0px 32px;
    max-width: 300px;
}

.intro-chunk .title {
    margin: 0px 0px 32px 0px;
}

p {
    font-size: 1.25rem;
}

strong {
    color: hsl(160deg, 100%, 30%); /* green */
}

main {
    border-top: 8px solid hsl(0deg, 0%, 40%); /* dark gray */
    background-color: hsl(0deg, 0%, 60%); /* light gray */
    padding: 64px 0px;
}

.card {
    background-color: hsl(0deg, 0%, 100%); /*  white */
    border-bottom: 8px solid hsl(0deg, 0%, 40%); /* dark gray (same as above) */
    padding: 16px;
    margin: 0px -16px;
}

.indented-heading {
    background: hsl(45deg, 100%, 50%); /* light gold */
    border-bottom: 8px solid hsl(45deg, 100%, 40%); /* light gold */
    margin: -8px 0px 0px -32px;
    padding: 16px 32px;
    width: -moz-fit-content; /* Firefox needs this */
    width: fit-content;
}

